<div class="fs-field">
    {{ form_label(form.name, 'Name', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.name.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.name) }}</div>
    {% endif %}
    {{ form_widget(form.name, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter product name'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.product_categories, 'Product Category', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.product_categories.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.product_categories) }}</div>
    {% endif %}
    {{ form_widget(form.product_categories, { 'attr': {'class': 'fs-select'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.supplier_id, 'Supplier', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.supplier_id.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.supplier_id) }}</div>
    {% endif %}
    {{ form_widget(form.supplier_id, { 'attr': {'class': 'fs-select'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.description, 'Description', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.description.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.description) }}</div>
    {% endif %}
    {{ form_widget(form.description, { 'attr': {'class': 'fs-textarea', 'placeholder': 'Enter product description'} })
    }}
</div>

<div class="fs-field">
    {{ form_label(form.cost_per_unit, 'Cost per Unit', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.cost_per_unit.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.cost_per_unit) }}</div>
    {% endif %}
    {{ form_widget(form.cost_per_unit, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter cost per unit'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.price_per_unit, 'Price per Unit', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.price_per_unit.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.price_per_unit) }}</div>
    {% endif %}
    {{ form_widget(form.price_per_unit, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter price per unit'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.sku_code, 'SKU Code', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.sku_code.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.sku_code) }}</div>
    {% endif %}
    {{ form_widget(form.sku_code, { 'attr': {'class': 'fs-input'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.reorder_level, 'Reorder Level', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.reorder_level.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.reorder_level) }}</div>
    {% endif %}
    {{ form_widget(form.reorder_level, { 'attr': {'class': 'fs-input', 'placeholder': 'Reorder level'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.is_active, 'Status', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.is_active.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.is_active) }}</div>
    {% endif %}
    {{ form_widget(form.is_active, { 'attr': {'class': 'fs-select'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.image, 'Product Image', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.image.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.image) }}</div>
    {% endif %}
    {{ form_widget(form.image, { 'attr': {'class': 'fs-input', 'placeholder': 'JPEG/PNG'} }) }}
</div>