{% from 'common/error.html.twig' import field_errors %}
<div class="fs-field">
    {{ form_label(form.name, 'Name', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.name, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter product name'} }) }}
    {{ field_errors(form.name) }}
</div>

<div class="fs-field">
    {{ form_label(form.product_categories, 'Product Category', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.product_categories, { 'attr': {'class': 'fs-select'} }) }}
    {{ field_errors(form.product_categories) }}
</div>

<div class="fs-field">
    {{ form_label(form.supplier_id, 'Supplier', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.supplier_id, { 'attr': {'class': 'fs-select'} }) }}
    {{ field_errors(form.supplier_id) }}
</div>

<div class="fs-field">
    {{ form_label(form.description, 'Description', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.description, { 'attr': {'class': 'fs-textarea', 'placeholder': 'Enter product description'} })
    }}
    {{ field_errors(form.description) }}
</div>

<div class="fs-field">
    {{ form_label(form.cost_per_unit, 'Cost per Unit', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.cost_per_unit, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter cost per unit'} }) }}
    {{ field_errors(form.cost_per_unit) }}
</div>

<div class="fs-field">
    {{ form_label(form.price_per_unit, 'Price per Unit', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.price_per_unit, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter price per unit'} }) }}
    {{ field_errors(form.price_per_unit) }}
</div>

<div class="fs-field">
    {{ form_label(form.sku_code, 'SKU Code', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.sku_code, { 'attr': {'class': 'fs-input', 'placeholder': 'SKU code'} }) }}
    {{ field_errors(form.sku_code) }}
</div>

<div class="fs-field">
    {{ form_label(form.reorder_level, 'Reorder Level', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.reorder_level, { 'attr': {'class': 'fs-input', 'placeholder': 'Reorder level'} }) }}
    {{ field_errors(form.reorder_level) }}
</div>

<div class="fs-field">
    {{ form_label(form.is_active, 'Status', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.is_active, { 'attr': {'class': 'fs-select', 'placeholder': 'Reorder level'} }) }}
    {{ field_errors(form.is_active) }}
</div>

<div class="fs-field">
    {{ form_label(form.image, 'Product Image', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.image, { 'attr': {'class': 'fs-input', 'placeholder': 'JPEG/PNG'} }) }}
    {{ field_errors(form.image) }}
</div>