{% extends 'base.html.twig' %}

{% block title %}Products | Brews&Books{% endblock %}

{% block body %}
<div class="page"> <!-- overall container for page -->
    {% include 'common/sidebar.html.twig' %}

    <main class="page__content">
        <div class="page__content-overview">
            <div class="fs-box total">
                <h3>Total Products <i class="fa-solid fa-box"></i></h3>
                <p>{{ totalProducts }}</p>
            </div>

            <div class="fs-box total">
                <h3>Books <i class="fa-solid fa-book"></i></h3>
                <p>{{ totalBooks }}</p>
            </div>

            <div class="fs-box total">
                <h3>Coffee <i class="fa-solid fa-mug-saucer"></i></h3>
                <p>{{ totalCoffee }}</p>
            </div>

            <div class="fs-box total">
                <h3>Bundle Components <i class="fa-solid fa-boxes-stacked"></i></h3>
                <p>{{ totalBundleComp }}</p>
            </div>
        </div>

        <div class="page__content-details">

            <div class="details-head">
                <h1>Products</h1>
                <a class="fs-button" href="{{ path('app_products_new') }}"><i class="fa-solid fa-plus"></i></a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Cost per Unit</th>
                        <th>Price per Unit</th>
                        <th>Sku Code</th>
                        <th>Quantity in Stock</th>
                        <th>Reorder Level</th>
                        <th>Product Category</th>
                        <th>Status</th>
                        <!-- <th>Image</th> -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.costPerUnit }}</td>
                        <td>{{ product.pricePerUnit }}</td>
                        <td>{{ product.skuCode }}</td>
                        <td>
                            {% if product.stocks is not null %}
                            <span class="value">{{ product.stocks.quantityInStock }}</span>
                            {%else%}
                            <em>No stock</em>
                            {%endif%}
                        </td>
                        <td>{{ product.reorderLevel }}</td>
                        <td>{{ product.ProductCategories.name }}</td>
                        <td>
                            <span
                                class="{% if product.isActive %} active-status {% else %} inactive-status {% endif %}">
                                {{ product.isActive ? 'Active' : 'Inactive' }}
                            </span>
                        </td>


                        <!-- {% if product.image %}
                        <td>
                            <a href="{{ asset('uploads/products/' ~ product.image) }}" target="_blank">
                                <img src="{{ asset('uploads/products/' ~ product.image) }}">
                            </a>
                        </td>

                        {% else %}
                        No image
                        {% endif %} -->

                        <td>
                            <a href="{{ path('app_products_show', {'id': product.id}) }}"><i
                                    class="fa-solid fa-eye actions-icon"></i></a>
                            <a href="{{ path('app_products_edit', {'id': product.id}) }}"><i
                                    class="fa-solid fa-pen-to-square actions-icon"></i></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr class="">
                        <td colspan="8">No Records Found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}