{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard | Brew&Books{% endblock %}

{% block body %}

<div class="page">
    {% include 'common/sidebar.html.twig' %}

    <main>
        <section class="page__content">

            <div class="page__content-details">
                <div class="details-head">
                    <h1>Welcome to Brews&Books</h1>
                </div>
            </div>

            <div class="page__content-details">
                <div class="page__content-overview">
                <div class="fs-box total">
                    <h3>Total Products <i class="fa-solid fa-box"></i></h3>
                    <p>{{ totalProducts }}</p>
                </div>
                <div class="fs-box total">
                    <h3>Books <i class="fa-solid fa-book"></i></h3>
                    <p>{{ totalBooks }}</p>
                </div>
                <div class="fs-box total">
                    <h3>Coffee <i class="fa-solid fa-mug-saucer"></i></h3>
                    <p>{{ totalCoffee }}</p>
                </div>
                <div class="fs-box total">
                    <h3>Suppliers <i class="fa-solid fa-truck"></i></h3>
                    <p>{{ totalBundleComp }}</p>
                </div>
            </div>

            <div class="card-info-details">
                <div class="left">

                    <div class="top" style="margin-top: 2em;">
                        <div class="details-head" style="align-items: baseline;">
                            <h3 style="margin: 0;"> Recent Updates </h3>
                            <div class="fs-button-group display-flex">
                                <a href="/products/new" class="fs-button btn--primary">Add New Product</a>
                                <a href="/products" class="fs-button">View Products</a>
                                <a href="/stocks" class=" fs-button">Manage Stocks</a>
                            </div>
                        </div>
                    </div>

                    <div class="table">
                        {% if recentLogs is not empty %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>When</th>
                                    <th>Action</th>
                                    <th>Table</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log in recentLogs %}
                                <tr>
                                    <td>{{ log.occurredAt|date('Y-m-d H:i', 'Asia/Manila') }}</td>
                                    <td>{{ log.action|capitalize }}</td>
                                    <td>{{ log.entityName }}</td>
                                    <td>{{ log.entityId }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No recent updates.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="right">
                    <div class="top" style="margin-top: 1em;">
                    </div>
                    <div class="fs-box total" style="background-color: var(--inactive-color);">
                        <em>Notification for reorder levels</em>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

{% endblock %}