{% extends 'base.html.twig' %}

{% block title %}Suppliers | Brews&Books{% endblock %}

{% block body %}
<div class="page"> <!-- overall container for page -->
    {% include 'common/sidebar.html.twig' %}
    <main class="page__content">
        
        <div class="page__content-details">
            
            <div class="details-head">
                <h1>Suppliers</h1>
                <a class="fs-button" href="{{ path('app_products_new') }}"><i class="fa-solid fa-plus"></i></a>  
            </div> 

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Information</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.contactInfo }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>
                        <a href="{{ path('app_suppliers_show', {'id': supplier.id}) }}"><i class="fa-solid fa-eye actions-icon"></i></a>
                        <a href="{{ path('app_suppliers_edit', {'id': supplier.id}) }}"><i class="fa-solid fa-pen-to-square actions-icon"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr class="">
                    <td colspan="8">No Records Found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
</div>
{% endblock %}
