{% from 'common/error.html.twig' import field_errors %}
<div class="fs-field">
    {{ form_label(form.product, 'Product ID', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.product, { 'attr': {'class': 'fs-input'} }) }}
    {{ field_errors(form.product) }}
</div>

<div class="fs-field">
    {{ form_label(form.roast_level, 'Roast Level', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.roast_level, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter roast level'} }) }}
    {{ field_errors(form.roast_level) }}
</div>

<div class="fs-field">
    {{ form_label(form.weight_per_package, 'Weight per Package', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.weight_per_package, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter weight per package'}
    }) }}
    {{ field_errors(form.weight_per_package) }}
</div>

<div class="fs-field">
    {{ form_label(form.flavor_description, 'Flavor Description', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.flavor_description, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter flavor description'}
    }) }}
    {{ field_errors(form.flavor_description) }}
</div>