{% extends 'base.html.twig' %}

{% block title %}New CoffeeDetails{% endblock %}

{% block body %}

{% block body %}

<main class="page__content">
    <div class="details-head">
        <h1>Edit Product Details | Coffee</h1>
        <a class="fs-button back-btn" href="{{ path('app_coffee_details_index') }}"><i
                class="fa-solid fa-arrow-left"></i>back to list</a>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'fs-form' } }) }}
    {{ form_errors(form) }}
    {{ include ('coffee_details/_form.html.twig') }}

    <div class="fs-button-group">
        <button class="fs-button save" type="submit">Save</button>
    </div>

    {{ form_end(form) }}
</main>

{% endblock %}