{% from 'common/error.html.twig' import field_errors %}
<div class="fs-field">
    {{ form_label(form.product, 'Product', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.product, { 'attr': {'class': 'fs-select', 'placeholder': 'Enter product'}}) }}
    {{ field_errors(form.product) }}
</div>

<div class="fs-field">
    {{ form_label(form.ISBN, 'IBSN', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.ISBN, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter book IBSN'}}) }}
    {{ field_errors(form.ISBN) }}
</div>

<div class="fs-field">
    {{ form_label(form.pages, 'Page', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.pages, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter number of pages'}}) }}
    {{ field_errors(form.pages) }}
</div>