{% extends 'base.html.twig' %}

{% block title %}Products | Book Details{% endblock %}

{% block body %}
<div class="page"> <!-- overall container for page -->
    {% include 'common/sidebar.html.twig' %}

    <main class="page__content">
        
        <div class="page__content-details">
            <div class="details-head">
                <h1>Books</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product ID</th>
                    <th>IBSN</th>
                    <th>Pages</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for book_detail in book_details %}
                <tr>
                    <td>{{ book_detail.id }}</td>
                    <td>{{ book_detail.product.id }}</td>
                    <td>{{ book_detail.ISBN }}</td>
                    <td>{{ book_detail.pages }}</td>
                    <td>
                        <a href="{{ path('app_book_details_show', {'id': book_detail.id}) }}"><i class="fa-solid fa-eye actions-icon"></i></a>
                        <a href="{{ path('app_book_details_edit', {'id': book_detail.id}) }}"><i class="fa-solid fa-pen-to-square actions-icon"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No Records Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
</div>

    
{% endblock %}
