{% from 'common/error.html.twig' import field_errors %}
<div class="fs-field">
    {{ form_label(form.product, 'Product ID', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.product, { 'attr': {'class': 'fs-select', 'placeholder': 'Enter product id'} }) }}
    {{ field_errors(form.product) }}
</div>

<div class="fs-field">
    {{ form_label(form.quantity_in_stock, 'Quantity', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.quantity_in_stock, { 'attr': {'class': 'fs-select', 'placeholder': 'Enter quantity'} }) }}
    {{ field_errors(form.quantity_in_stock) }}
</div>

<div class="fs-field">
    {{ form_label(form.last_restock_date, 'Last Stock Date', { 'label_attr': {'class': 'fs-label'} }) }}
    {{ form_widget(form.last_restock_date, { 'attr': {'class': 'fs-input'} }) }}
    {{ field_errors(form.last_restock_date) }}
</div>