<div class="fs-field">
    {{ form_label(form.product, 'Product ID', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.product.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.product) }}</div>
    {% endif %}
    {{ form_widget(form.product, { 'attr': {'class': 'fs-select', 'placeholder': 'Enter product id'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.quantity_in_stock, 'Quantity', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.quantity_in_stock.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.quantity_in_stock) }}</div>
    {% endif %}
    {{ form_widget(form.quantity_in_stock, { 'attr': {'class': 'fs-select', 'placeholder': 'Enter quantity'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.last_restock_date, 'Last Stock Date', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.last_restock_date.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.last_restock_date) }}</div>
    {% endif %}
    {{ form_widget(form.last_restock_date, { 'attr': {'class': 'fs-input'} }) }}
</div>