<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
    <l<link rel="stylesheet" href="{{ asset('styles/style.css')}}">
    {% endblock %}

    {% block javascripts %}
            {% block importmap %}
            {{ importmap('app') }}
            {% endblock %}
            {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>