<div class="fs-field">
    {{ form_label(form.name, 'Category Name', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.name.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.name) }}</div>
    {% endif %}
    {{ form_widget(form.name, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter category name'} }) }}
</div>

<div class="fs-field">
    {{ form_label(form.description, 'Description', { 'label_attr': {'class': 'fs-label'} }) }}
    {% if form.description.vars.errors|length > 0 %}
    <div class="fs-error-message">{{ form_errors(form.description) }}</div>
    {% endif %}
    {{ form_widget(form.description, { 'attr': {'class': 'fs-input', 'placeholder': 'Enter description'} }) }}
</div>