{% extends 'base.html.twig' %}

{% block title %}Edit Product Category{% endblock %}

{% block body %}
<div class="page">
    {% include 'common/sidebar.html.twig' %}

    <main class="page__content">
        <div class="details-head">
            <h1>Edit Product Category</h1>
            <a class="fs-button back-btn" href="{{ path('app_product_categories_index') }}"><i
                    class="fa-solid fa-arrow-left"></i>back to list</a>
        </div>

        {% from 'common/error.html.twig' import form_errors %}
        {{ form_start(form, { 'attr': { 'class': 'fs-form' } }) }}
        {{ form_errors(form) }}

        {{ include('product_categories/_form.html.twig') }}

        <div class="fs-button-group">
            <button class="fs-button save" type="submit">Save</button>
        </div>
        {{ form_end(form) }}


    </main>
</div>
{% endblock %}