{% extends 'base.html.twig' %}

{% block title %}Product Categories{% endblock %}

{% block body %}
{% block body %}

<main class="page__content">
    <div class="details-head">
        <h1>Product Categories</h1>

        <a class="fs-button" href="{{ path('app_product_categories_new') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product_category in product_categories %}
            <tr>
                <td>{{ product_category.id }}</td>
                <td>{{ product_category.name }}</td>
                <td>{{ product_category.description }}</td>
                <td>
                    <a href="{{ path('app_product_categories_show', {'id': product_category.id}) }}"><i
                            class="fa-solid fa-eye actions-icon"></i></a>
                    <a href="{{ path('app_product_categories_edit', {'id': product_category.id}) }}"><i
                            class="fa-solid fa-pen-to-square actions-icon"></i></a>
                </td>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No Records Found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}