{% extends 'base.html.twig' %}

{% block title %}New Product Category{% endblock %}

{% block body %}
{% block body %}

<main class="page__content">
    <div class="details-head">
        <h1>New Product Category</h1>
        <a class="fs-button back-btn" href="{{ path('app_product_categories_index') }}"><i
                class="fa-solid fa-arrow-left"></i>back to list</a>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'fs-form' } }) }}
    {{ form_errors(form) }}

    {{ include('product_categories/_form.html.twig') }}

    <div class="fs-button-group">
        <button class="fs-button save" type="submit">Add New Product Category</button>
    </div>
    {{ form_end(form) }}


</main>

{% endblock %}